:root {
    --Fondo:	#121212;
--Texto_principal:	#FFFFFF;
--Btn:	#00C896, #6C63FF;
--Fondo_tarjetas:	#1E1E1E;
--Hover_acción:	#2E2E2E;
}

body {
    background-color: #0f0f1a;
}


.hero {

    width: 100%;
    height: 700px;
    background: #0f0f1a;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.contenido-hero {
  position: relative;
  z-index: 1; 
}

.hero-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative ;
}

.hero-img img {
  max-width: 100%;
  max-height: 90%;
}



.icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* ← evita interferencia con los clics en los botones */
  z-index: 0; /* que se queden detrás del contenido */
}

.icon {
  position: absolute;
  animation: float 4s ease-in-out infinite;
  pointer-events: auto;
}

.icon i {
  font-size: 3rem;
  filter: drop-shadow(0 0 10px #00f0ff);
  transition: transform 0.3s, filter 0.3s;
}

.icon-container i:hover {
  transform: scale(1.2) rotate(10deg);
  filter: drop-shadow(0 0 20px #ffffff);
}

.icon.html { top: 65%; left: 87%; }
.icon.css { top: 32%; left: 84%; }
.icon.js { top: 20%; left:67%; }
.icon.php { bottom: 25%; right: 32%; }
.icon.mysql { top: 35%; right: 34% }
.icon.mssql { top: 50%; right: 35%; }

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

.titu {

    color: var(--Texto_principal);
    text-align: center;
    padding-left: 75px;
    font-size: 45px;
    font-weight: bold ;
    font-family: helvetica;


}

.parra{

    width: 450px;
    text-align: left;
    padding-left: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: normal;
    font-family: helvetica;
    
}

.btn-hero {

    border-radius: 10px;
    background-color: transparent;
    color: var(--Texto_principal);
    border-color: var(--Hover_acción);
    border: solid 1px;
    width: 175px;
}

.btn-hero:hover{

    background-color: var(--Texto_principal);
    color: var(--Hover_acción);
    border: 1px solid var(--Hover_acción); 
    
}

.sobre-mi {

    text-align: center;
}


.titu-sobremi {

    color: var(--Texto_principal);
    text-align: center;
    font-size: 45px;
    font-weight: bold ;
    font-family: helvetica;
    justify-items: center;
    justify-content: center;

}

.container-deco {

    display: flex;
    justify-content: center;

}

.deco {
    display: inline-flex;
    height: 15px;
    border-radius: 10px;
    background-color: transparent;
    color: var(--Texto_principal);
    border: solid 1px;
    width: 75px;
    font-size: 12px;
   justify-content: center;
   align-items: center;
    gap: 6px;
}

.deco::after {
    padding-bottom: 1px;
    content: "↓";
    font-size: 9px;
    transition: transform 0.2s ease;
    display: inline-block;
}

