:root {
    --Fondo:	#121212;
--Texto_principal:	#FFFFFF;
--Btn:	#00C896, #6C63FF;
--Fondo_tarjetas:	#1E1E1E;
--Hover_acción:	#2E2E2E;
}

.hero {

    width: 100%;
    height: 700px;
    background-image: url('./images/img-fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.cabeza {

}